name: panvimdoc

on:
  push:
    branches: [main]

jobs:
  docs:
    runs-on: ubuntu-latest
    name: pandoc to vimdoc
    steps:
      - uses: actions/checkout@v2
      - name: panvimdoc
        uses: kdheepak/panvimdoc@main
        with:
          vimdoc: yanky
          description: Improved Yank an Put functionalities for Neovim
          version: 'NVIM v0.6.0'
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'chore: auto generate docs'
          branch: ${{ github.head_ref }}
